<div class="jumbotron other-color">
  <h1>It's time to decrapify your life!</h1>
  <p class="lead">
    Get rid of your unused stuff. <br>And feel good it's not headed to landfill.
  </p>
  <p><a class="btn btn-lg btn-primary" ng-href="#/login">Get Started!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <p>
    Getting rid of your stuff can be difficult.
  </p>

  <p>
    Things have value to you, whether you have formed a personal attachment to your stuff or you believe you have a practical use for it... someday. Most of the time, "personal value" means guilt or "someday" never comes.
  </p>

  <p>How about giving it to your friends and family who need them?</p>
</div>
