<div class="btn-group">
    <label class="btn btn" ng-model="radioModel" btn-radio="'mycrap'"><a ng-href="#/mycrap">My Posted Items</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="'postitem'"><a ng-href="#/mycrap/postitem">Post New Item</a></label>
    <label class="btn btn" ng-model="radioModel" btn-radio="'myclaimed'"><a ng-href="#/mycrap/myclaimed">My Claimed Items</a></label>
</div>
<br>
<br>
<div class="well">
<p class="lead" id="myitems">Stuff I'm Taking From My Friends</p>
<p><strong>{{  }}</strong> items claimed.</p></div>
